.advantage-rule {
    $root: &;
    transition: $transit_default;

    &:not(&--top) {
        background-color: var(--c_advantage_bg);
        padding-block: 29px;

        #{$root}__container {
            max-width: 1260px;
            width: calc(100% - 30px);
            margin-inline: auto;
        }
    }

    &:not(.show) {
        visibility: hidden;
        opacity: 0;
    }

    &--top {
        flex: 1;
        min-width: 0;
    }

    &__rule {
        display: flex;
        align-items: center;
        gap: 0 8px;
        flex-direction: column;
        text-align: center;

        > img {
            max-width: 40px;
            max-height: 40px;
        }
    }

    &__text {
        overflow: hidden;
    }

    &__title-desc {
        color: var(--c_topbar_link);
        font-weight: 600;
        font-weight: 400;
        font-size: 13px;
        line-height: 150%;
        letter-spacing: .02em;
    }

    &__title,
    &__desc,
    &__title-desc {
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
    }

    &__title {
        color: var(--c_advantage_text_1);
        font-size: 18px;
        font-weight: 400;
        line-height: 120%;
        margin-bottom: 8px;
    }

    &__desc {
        color: var(--c_advantage_text_2);
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
    }
}
