.countdownShowcase {

    display: flex;
    gap: 10px;
    background: #FF6500;
    align-items: center;
    height: 103px;
    padding: 50px 40px;
    width: 50%;

    @include mobile{
        padding: 8px 20px;
        height: auto;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 90%;
        gap: 0;
    }
    .home-showcase__title--countdown{
        display: flex;
        align-items: center;
        font-family: "Kanit", serif;
        gap: 5px;
        font-size: 27px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        color: #fff;
        @include mobile{
            font-size: 18px;
        }
    }
    .home-showcase__header{
        > a{
            > img{
                height: 140px;
                width: 100%;
            }
        }
    }

    &__item {
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
        gap: 4px;
        font-family: "Kanit", serif;

        @include mobile {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            justify-content: center;
        }
        > span {
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            color: #fff;
            display: inline-block;
            @include mobile{
                font-size: 18px;
            }
        }
    }

    &__timer {
        position: relative;
        line-height: 0;
        > span{
            color: #fff;
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            @include mobile{
                font-size: 18px;
            }
        }

        &:before {
            content: var(--content-value);
            margin: auto;
            color: #fff;
            font-size: 27px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            width: fit-content;
            height: fit-content;
            @include mobile{
                font-size: 18px;
            }
        }
        > svg {
            transform: rotateZ(-90deg) rotateX(180deg);

            circle {
                transition: all 500ms;
                stroke-width: 17;
                &:first-of-type {
                    stroke: #f3f3f3;
                }
                &:last-of-type {
                    stroke: var(--c_general_main);
                }
            }
        }
    }
    @media (max-width: 621px) {
        &__counter {
            display: flex;
            width: auto;
            gap: 20px;
        }
    }
    @media (min-width: 621px) {
        &__counter {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            max-width: 560px;
            gap: 20px;
        }
    }
}
