.header-account {
    $root: &;
    position: relative;

    &__title {
        display: flex;
        align-items: center;
        gap: 0 6px;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        color: var(--c_header_text);

        svg {
            fill: var(--c_header_icon);

            &:last-of-type {
                transition: all 333ms ease-in-out;
            }
        }
    }

    &__dropdown {
        padding: 15px;
        transition: all 333ms ease-in-out;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 100%;
        right: 50%;
        transform: translateX(50%);
        width: fit-content;
        margin-inline: auto;
        background-color: var(--c_general_background);
        box-shadow: 2px 2px 4px -1px var(--c_general_main);
        border-radius: 1px;
        z-index: 2;
    }

    &__item {
        &:not(:first-child) {
            margin-top: 16px;
        }

        &--btn > a {
            height: 32px;
            border-radius: 1px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--c_default_button_bg);
            color: var(--c_default_button_text);
            font-weight: 600;
            font-size: 18px;
        }

        &--or {
            text-align: center;
            position: relative;
            z-index: 1;

            & span {
                color: var(--c_general_tertiary);
                display: inline-block;
                padding: 1px 15px;
                background-color: var(--c_general_background);
                vertical-align: middle;
                margin-top: -5px;
                font-size: 14px;
                line-height: 14px;

                &:after {
                    content: '';
                    display: block;
                    position: absolute;
                    height: 2px;
                    width: 100%;
                    left: 0;
                    top: 0;
                    bottom: 0;
                    margin-block: auto;
                    background-color: #c5c5c5;
                    z-index: -1;
                }
            }
        }
    }

    &__link {
        white-space: nowrap;
        color: var(--c_general_tertiary);
        font-size: 14px;
        line-height: 15px;

        &--flex {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 0 8px;
            transition: all 333ms ease-in-out;

            svg {
                transition: all 333ms ease-in-out;
                fill: var(--c_general_tertiary);
                stroke: var(--c_general_tertiary);
            }
        }
    }

    &:before {
        content: '';
        width: 0;
        height: 3px;
        background-color: var(--c_general_secondary);
        transition: $transit_default;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    @media (hover: hover) {
        &:hover {
            #{$root} {
                &__dropdown {
                    opacity: 1;
                    visibility: visible;
                    pointer-events: auto;
                }
                &__title svg:last-of-type {
                    transform: rotate3d(1, 0, 0, 180deg);
                }
            }

            &:before {
                width: 100%;
            }
        }

        &__link:hover {
            color: var(--c_general_main);
            > svg {
                fill: var(--c_general_main);
                stroke: var(--c_general_main);
            }
        }

        &__item--btn:hover a {
            background-color: var(--c_default_button_bg_hover);
            color: var(--c_default_button_text_hover);
        }
    }

    @include mobile {
        display: none;
    }
}
