.image-gallery {
    $root: &;
    flex: 0 1 90%;
    min-width: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 16px;

    &--square {
        #{$root} {
            &__main,
            &__iframe {
                aspect-ratio: 1/1;
            }
            &__main {
                max-height: 1000px;
            }
            &__icon,
            &__thumbs img {
                aspect-ratio: 1/1;
            }
        }
    }

    &--portrait {
        #{$root} {
            &__main,
            &__iframe {
                aspect-ratio: 1000/1259;
            }
            &__main {
                max-height: 1259px;
            }
            &__icon,
            &__thumbs img {
                aspect-ratio: 140/176;
            }
        }
    }

    &--rectangle {
        #{$root} {
            &__main,
            &__iframe {
                aspect-ratio: 1311/1000;
            }
            &__main {
                max-height: 1000px;
            }
            &__icon,
            &__thumbs img {
                aspect-ratio: 140/107;
            }
        }
    }

    &__main {
        max-width: 100%;

        &[data-zoom='true'] {
            cursor: zoom-in;
            background-size: 175%;

            @media (hover: hover) {
                &,
                & img {
                    transition: $transit_default;
                    width: 581px;
                    height: 640px;
                    flex-shrink: 0;
                    border: 1px solid #292929;
                }

                &:hover img {
                    opacity: 0;
                }
            }
        }
    }

    &__thumbs {
        transition: $transit_default;

        &:not(.show) {
            visibility: hidden;
            opacity: 0;
        }

        .swiper {
            &-wrapper.jcc {
                display: flex;
                flex-direction: column;
                gap: 4px;
                width: 124px;
                height: 125.226px;
                flex-shrink: 0;
                border: 1px solid #D9D9D9;
            }

            &-slide {
                cursor: pointer;
                width: 100% !important;

                &.swiper-slide-thumb-active{
                    opacity: 0.5;
                }
            }
        }
    }

    &__iframe {
        max-height: 100%;
    }

    &__icon {
        max-width: 140px;
        width: 100%;
        display: grid;
        place-items: center;
        font-style: normal;

        @media screen and (max-width: 768px) {
            & > svg {
                max-width: 70%;
            }
        }
    }

    img {
        object-fit: cover;
    }
}
