.product-tags {
    &__list,
    &__discount {
        position: absolute;
        z-index: 1;
    }

    &__discount {
        display: flex;
        place-items: center;
        background: var(--c_bg_seals);
        color: var(--c_text_seals);
        border-radius: 12px;
        height: 24px;
        width: 67px;
        top: 0px;
        left: 7em;
        font-size: 12px;
        justify-content: center;
        align-items: center;
        gap: 3px;
    }

    &__list {
        width: 100%;
        display: inline-flex;
        align-items: stretch;
        bottom: 10px;
        left: 0;
        right: 0;
        margin-inline: auto;
        font-weight: 700;
        height: 24px;
        gap: 0 1px;
        position: absolute;
        top: 0;
    }

    &__tag {
        border-radius: 1px;
        border: 1px solid #fff;
        font-size: 11px;
        max-width: 80px;
        font-weight: 600;
        border-radius: 12px;
        display: grid;
        place-items: center;
        width: 100%;
        line-height: 1;

        & > span {
            width: inherit;
            text-align: center;
            padding-inline: 3px;
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &--new {
            color: var(--c_text_release);
            background: var(--c_bg_release);
        }
        &--featured {
            color: var(--c_text_highlight);
            background: var(--c_bg_highlight);
            border-color: var(--c_text_highlight);
        }
        &--additional {
            display: none;
            color: var(--c_text_additional);
            background: var(--c_bg_additional);
            border-color: var(--c_text_additional);
        }
        &--free-shipping {
            color: var(--c_text_portage);
            background: var(--c_bg_portage);
            border-color: var(--c_text_portage);
        }
    }
}
