.product-price {
    margin-top: 10px;

    > s {
        display: block;
        color: #8D8D8D;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0.03px;
    }

    &__current {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 27px */
        letter-spacing: 0.36px;
        display: block;
        color: var(--c_showcase_price_main);

        > em {
            font-size: 19px;
        }
    }

    &,
    &__installments {
        padding-inline: 8px;
    }

    &__installments {
        margin-top: 10px;
        color: #8D8D8D;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 130%; /* 16.9px */

        strong {
            font-weight: 500;
        }

        .operadora {
            text-transform: lowercase;
        }

        > br:first-of-type,
        .txt-forma-pagamento {
            display: none;
        }
    }
}
