.header {
    background-color: var(--c_header_bg);
    position: fixed;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;

    &__container {
        max-width: 1260px;
        width: calc(100% - 30px);
        margin-inline: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0 15px;

        &.center {
            .header-search {
                order: -1;
            }
        }
        @include mobile {
            flex-wrap: wrap;
            gap: 0 5px;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        gap: 0 10px;
        padding-block: 15px;

        > div,
        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 50px;
        }

        @include mobile {
            > div {
                display: none;
            }
        }
    }

    @include mobile {
        &__btn-mobile {
            display: grid;
            place-items: center;
            width: 40px;
            height: 40px;
            margin-left: -10px;
        }
    }


    &-search {
        @extend %flex-center-center;
        position: relative;
        margin: 0 20px;
        align-items: center;
        transition: width 0.3s ease-out;
        max-width: 400px;
        width: 100%;
        max-height: 48px;

        @include mobile {
            order: 1 !important;
            margin: 0;
            max-width: none;
        }

        .search {
            &-cancel {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                right: 0;
                height: 48px;
                width: 48px;
                &:hover {
                    opacity: 0.6;
                }
                &[data-focus='off'] {
                    cursor: pointer;
                }
            }
            &-input {
                border: 1px solid var(--c_header_text);
                @include fontInsert($fs_header, 600, var(--c_header_text));
                display: block;
                padding: 0 48px;
                border-radius: 1px; //45px
                background: var(--c_bg_searchbar);
                width: 100%;
                height: 48px;

                @include mobile {
                    font-size: 0.8rem;
                }

                &::placeholder {
                    color: #000;
                    font-size: 14px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: normal;
                }
            }

            &-button {
                border-radius: 6px;
                position: absolute;
                width: 48px;
                height: 100%;
                top: 0;
                left: 0;
                font-size: 20px;
                color: #eceff5;
                background-color: transparent;
                opacity: 1;
                transition: 0.3s ease-out;

                &:hover {
                    opacity: 0.6;
                }

                &:active {
                    opacity: 0.6;
                }
            }
        }

        .suggestion {
            box-sizing: border-box;
            position: absolute;
            top: 100%;
            left: 0;
            max-width: unset;
            max-height: 450px;
            min-width: unset;
            width: 100%;
            padding: 0 56px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16);
            background-color: var(--c_header_bg);
            border-radius: 1px;
            overflow: auto;
            scrollbar-color: #eceff5 #fff;
            z-index: 100;

            @include mobile {
                padding: 0 25px;
            }

            &::-webkit-scrollbar {
                width: 6px;
                background: #2c2c2c;
            }

            &::-webkit-scrollbar-track {
                background: #2c2c2c;
            }

            &::-webkit-scrollbar-thumb {
                background: #eceff5;
                border-radius: 10px;
            }

            &:hover {
                display: block !important;
            }

            .idp,
            .cl {
                display: none;
            }

            span {
                display: block;
                cursor: pointer;
                padding: 4px 0;
            }

            &-words {
                display: none;
                font-size: #{$fs_search}rem;
                margin-bottom: 1.875rem;
                padding: 1.25em 0 1.25em 0;
                background: transparent;
                border-bottom: $v_border_header;

                span {
                    font-size: 0.875rem;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    line-height: 1.4;
                    background-color: transparent;
                    transition: ease-out 0.2s;

                    &:hover {
                        color: var(--c_general_main);
                        background-color: transparent;
                    }
                }

                strong {
                    background: #666;
                }
            }

            &-products {
                width: 100%;
                padding: 0;
                background: transparent;
                margin-block: 25px 50px;

                .suggestion-product {
                    margin-bottom: 10px;
                    font-size: 13px;

                    &:hover {
                        background: transparent;
                    }

                    a {
                        display: flex;
                        margin: 0;
                        padding: 0;

                        &:hover {
                            background: transparent;
                        }
                    }

                    .suggestion-img {
                        flex: 0 0 auto;
                        width: 60px;
                        height: 60px;
                        float: unset;
                        margin-right: 0.625rem;

                        img {
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                        }
                    }

                    .suggestion-desc .titlep {
                        margin-top: 10px;
                        @include fontInsert(0.875, 500, var(--c_general_tertiary));
                        transition: ease-out 0.2s;

                        @include mobile {
                            margin-top: 5px;
                        }

                        &:hover {
                            color: var(--c_general_main);
                        }
                    }
                }
            }

            &-title {
                display: block;
                @include fontInsert(1, 600, var(--c_general_tertiary), capitalize);
                text-indent: 0;
                margin-bottom: 0.95rem;
                line-height: 24px;
            }
        }
        @include mobile {
            &[searchHidden='false'] {
                opacity: 1;
                transition: opacity 0.3s linear;
                top: unset;
            }

            &[searchHidden='true'] {
                opacity: 0;
                transition: opacity 0.3s linear;
                cursor: none;
                .search-input {
                    display: none;
                }
            }
        }
    }

    
}

/// Saarch
.header--fixed .header-menu {
    transform: translateY(-115%);
    transition: transform 0.2s ease-out, background 0s ease-out 0.3s;

    .menu {
        &--show {
            transform: translateY(0);
            box-shadow: 0 1px 5px rgb(0 0 0 / 6%);
        }
    }
}

// menu mobile
.menuMobile {
    width: 100%;
    background-color: var(--c_bg_dropdown);
    @extend %flex-center-colun;
    @extend %modal-mobile-menus;
    padding: 0 0 2rem 0;
    top: 42px;
    transform: translateX(calc(-100% - 10px));
    transition: ease-out 0.3s;
    height: 600px;
    overflow: auto;
    &.top {
        top: 0;
    }

    @include medium {
        display: none;
    }

    @include large {
        display: none;
    }

    &.u-show {
        transform: translateX(0);
    }

    &-title {
        @extend %flex-betw-center;
        @extend %title-menu-modal;
        color: var(--c_general_main);
        width: 100%;
        font-size: 1rem;
        height: 70px;
        padding: 11px;
        background: var(--c_product_fidelity_bg);

        .icon-menu {
            margin-right: 1.25rem;

            &::before {
                color: var(--c_general_main);
                vertical-align: 15%;
                @include mobile {
                    display: none;
                }
            }
        }
    }

    &-close {
        border: 1px solid var(--c_font_menu);
        height: 2.4rem;
        font-weight: 100;
        transition: $transit_default;
        border-radius: $border_radius;
        padding: 0 15px;
        gap: 1em;
        display: flex;
        font-size: 1rem;
        align-items: center;
        > span {
            &:hover {
                transform: rotate(180deg);
            }
        }

        .icon-exit {
            text-transform: none;
            position: relative;
        }
    }

    &-account {
        @extend %flex-betw-center;
        border-top: $v_border_header;
        margin-top: 1rem;
        padding-top: 0.5rem;

        .icon-account {
            display: none;
        }
        .account-button .icon-arrow-simple {
            font-size: 0;
            transform: rotate(-90deg);
        }

        .logged[data-logged-user='true'] {
            .account-access {
                margin-top: 4px;
                .account-link {
                    background-color: unset;
                    @include fontInsert(1, 400, var(--c_general_tertiary));
                    padding: 0;
                    margin: 4px auto;
                    &:last-of-type {
                        color: var(--c_general_tertiary);
                    }
                }
            }
        }

        .account {
            &-item {
                width: 100%;
            }

            &-button {
                @extend %flex-betw-center;
                width: inherit;

                .icon-arrow-simple {
                    transform: rotate(90deg);
                    transition: $transit_default;
                }
            }

            &-text {
                @include fontInsert(1.25, 700, var(--c_general_tertiary));
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                text-overflow: ellipsis;
                
            }

            &-access {
                .icon-account {
                    padding-right: 0.5rem;
                }

                .account-link {
                    margin: 6px 0 15px 9px;
                    @include fontInsert(0.875, 400, var(--c_general_tertiary));
                    font-weight: 600;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding-bottom: 6px;
                }
            }
            &-link {
                margin: 8px auto;
                @include fontInsert(1, 400, var(--c_general_tertiary));
                display: flex;
                span {
                    @include fontInsert(0.875, 400, var(--c_general_tertiary));
                    text-align: center;
                }
                &:first-of-type {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }

    &-content {
        flex-grow: 1;
        height: calc(100% - 180px);
        margin: 0 0 1.875rem 0;
        overflow: auto;
        border-top: $v_border_header;

        @extend %style-scroll;
    }

    .menu {
        &-button {
            margin-right: 15px;
            transition: all 333ms;

            svg {
                fill: var(--c_general_main);
            }

            &.open {
                transform: rotate3d(0, 0, 1, 90deg);
            }
        }
        &-firstLevel {
            @include fontInsert(1.1, 600, var(--c_general_main));
            border-bottom: $v_border_header;
            padding: 1.5rem 0 1rem 0.5rem;

            > a {
                color: var(--c_font_menu);
            }

            &.subList {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
            }
        }

        &-secondLevel {
            @include fontInsert(1, 400, #7a7a7a);
            padding-top: 0.95rem;

            .menu-link {
                line-height: 1.6rem;
            }
            > li > a {
                color: var(--c_secondlevel_dropdown);
            }
            &Content {
                flex: 100%;
                display: none;
            }
        }

        &-thirdLevel {
            padding-left: 0.7rem;
            padding-top: 0.5rem;

            > li > a {
                color: var(--c_secondlevel_dropdown);
            }
        }

        &-firstLevel,
        &-secondLevel,
        &-thirdLevel {
            .menu-link {
                transition: $transit_default;
                opacity: 1;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@include mobile {
    .header-button {
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 0;
        flex-shrink: 0;
        width: 20px;
        height: 18px;
        margin-right: 1rem;
        cursor: pointer;

        .button-line {
            width: 100%;
            height: 2px;
            background-color: var(--c_general_main);
            transition: 0.3s ease-out;
            cursor: pointer;
        }

        &:hover .button-line {
            opacity: 0.6;
        }
    }
}
