.showcase {
    .swiper-pagination--product {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 8px 0;
        .swiper-pagination-bullet {
            background: var(--c_general_main);
            opacity: 1;
            &-active {
                border: 1px solid var(--c_general_main);
                background: #fff;
                height: 13px;
                width: 13px;
            }
        }
        .swiper-pagination-bullet:hover {
            opacity: 0.3;
        }
    }

    &[data-ref='one'] {
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        padding: 1rem 3.2rem;
        @include mobile {
            padding: 0;
        }

        .section-title {
            width: 100%;
            display: flex;
            justify-content: center;
            gap: 12px;
        }

        @include small {
            .section-showcase-top {
                width: 100%;
                display: flex;
                flex-direction: column;

                .countdownShowcase {
                    justify-content: center;
                }
            }
        }
        @include medium {
            .section-showcase-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
        }
        @include large {
            .section-showcase-top {
                width: 100%;
                display: flex;
                justify-content: space-between;
                flex-wrap: nowrap;
            }
        }

        &[data-banner='true'] {
            .slides-buttonPrev--product {
                left: 28em;
            }
            .segmentation-arrows {
                cursor: pointer;
                border: black;
                top: unset;
                bottom: 300px;
                @include mobile {
                    bottom: 363px;
                }
            }
            .banner-extra1 img {
                width: 100%;
                height: 100%;
            }
            @media (min-width: 1200.1px) {
                .banner-extra1 {
                    width: 35%;
                }
                .showcase-listProduct {
                    width: 60.5%;
                    margin-left: 2.5%;
                }
            }

            @media (max-width: 740px) {
                .banner-extra1 {
                    width: 100%;
                    margin-bottom: 12px;
                }
                .showcase-listProduct {
                    width: 90%;
                    margin-right: 5%;
                    margin-left: 5%;
                    @include mobile {
                        width: 100%;
                        margin-right: auto;
                        margin-left: auto;
                    }
                }
            }
            @media (min-width: 740px) and (max-width: 998px) {
                .banner-extra1 {
                    width: 50%;
                }
                .showcase-listProduct {
                    width: 47.5%;
                    margin-left: 2.5%;
                }
                .slides-buttonPrev--product {
                    left: 50%;
                }
            }
            @media (min-width: 998.1px) and (max-width: 1200px) {
                .banner-extra1 {
                    width: 45%;
                }
                .showcase-listProduct {
                    width: 52.5%;
                    margin-left: 2.5%;
                }
                .slides-buttonPrev--product {
                    left: 45%;
                }
            }
            @media (min-width: 1200.1px) {
                .banner-extra1 {
                    width: 35%;
                }
            }
        }
    }

    &-listProduct {
        @extend %flex-start;
        flex-wrap: wrap;
        gap: 20px 0;
        @include mobile {
            width: 100% !important;
        }

        .listProduct-item {
            box-sizing: border-box;
            position: relative;
            margin-bottom: 0.5rem;
            min-height: 100%;
            height: auto;
            place-self: stretch;
            max-width: 282px;
            margin: 0 auto;
            width: 282px;
            padding: 0 4px;
            @include mobile {
                width: 50%;
                margin-right: 0 !important;
                height: 560px;
            }
        }
    }
}
