<div class="header-track">
    <div class="header-track__title">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 33 32" fill="none">
            <path d="M5.05322 5V28L10.0818 22.0857H27.0532V5H5.05322Z" stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
        </svg>
        <span>Rastrear</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="9" height="6" viewBox="0 0 9 6" fill="none">
            <path d="M4.243 3.172L7.071 0.343L8.486 1.757L4.243 6L-1.85467e-07 1.757L1.415 0.343L4.243 3.172Z" fill=""/>
        </svg>
    </div>

    <div class="header-track__dropdown">
        <ul class="header-track__list">

            {% if settings.tracking_mail|trim != '' %}
                <li class="header-track__item">
                    <a href="{{ settings.tracking_mail }}" target="_blank" rel="noopener" class="header-track__link">Correios</a>
                </li>
            {% endif %}

            {% if settings.tracking_transport != '' %}
                <li class="header-track__item">
                    <a href="{{ settings.tracking_transport }}" target="_blank" rel="noopener" class="header-track__link">Transportadora</a>
                </li>
            {% endif %}
        </ul>
    </div>

</div>
