{% if settings.pop_up_retencao_active %}
    <div class="content-popup-retencao">
        <div class="modal-info">
            <div class="closed-icon">
                <svg data-popup-close class=pop-up__close width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="none"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6066 15.5L10 20.1066L10.8934 21L15.5 16.3934L20.1066 21L21 20.1066L16.3934 15.5L21 10.8934L20.1066 10L15.5 14.6066L10.8934 10L10 10.8934L14.6066 15.5Z" fill="#000"/>
                </svg>
            </div>
            <div class="content-exit-sales">
                <div class="head-exit-sales">
                    <div class="text">
                        <div class="first">
                            {{ settings.cupom_title }}
                        </div>
                        <div class="last-cupom">
                            {{ settings.cupom_subtitle }}
                            {% if settings.show_cupom_active %}
                                {% if settings.cupom_codigo %}
                                    <div class="cupom-code">
                                        <p class="cupom">{{ settings.cupom_codigo }}</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="rentecao__imagem">
                        <img src="{{ asset(settings.rentecao_banner) }}" width="400" height="480">
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endif %}

