{% if settings.pop_up_retencao_active %}
    <div class="content-popup-retencao">
        <div class="modal-info">
            <div class="closed-icon">
                <svg data-popup-close class=pop-up__close width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="15.5" cy="15.5" r="15.5" fill="none"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6066 15.5L10 20.1066L10.8934 21L15.5 16.3934L20.1066 21L21 20.1066L16.3934 15.5L21 10.8934L20.1066 10L15.5 14.6066L10.8934 10L10 10.8934L14.6066 15.5Z" fill="#000"/>
                </svg>
            </div>
            <div class="content-exit-sales">
                <div class="head-exit-sales">
                    <div class="text">
                        <div class="first">
                            {{ settings.cupom_title }}
                        </div>
                        <div class="last-cupom">
                            {{ settings.cupom_subtitle }}
                            {% if settings.show_cupom_active %}
                                {% if settings.cupom_codigo %}
                                    <div class="cupom-code">
                                        <p class="cupom">{{ settings.cupom_codigo }}</p>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>

                <div class="body-exit-sales">
                    {% if settings.showcase_category_5 == 0 %}
                        {% set limitPromoShow = quantity | default(8) %}
                        {% set categoriesPromoShow = categories ? categories|split(';') : "" %}

                        {% if type == 'top_seller' %}
                            {% set filterPromoShow = ['available'] %}
                            {% set orderShow = { 'quantity_sold': 'desc' } %}
                        {% elseif not type %}
                            {% set filterPromoShow = ['available'] %}
                        {% else %}
                            {% set filterPromoShow = [type, 'available'] %}
                        {% endif %}

                        {% if type != 'top_seller' and  rand %}
                            {%set orderPromoShow = 'rand' %}
                        {% else %}
                            {% set orderPromoShow = { 'id': 'desc' } %}
                        {% endif %}

                        {% set products = Products({
                            'categories': categoriesPromoShow,
                            'filter': filterPromoShow,
                            'limit' : limitPromoShow,
                            'order' : orderPromoShow
                        }) %}

                        <section class="section showcase show"  data-slides="productPromo">

                            <div class="showcase-listProduct swiper">
                                <div class="swiper-wrapper">

                                    {% for item in products %}
                                        <div class="listProduct-item swiper-slide">
                                            {% element 'snippets/product' {
                                                product : item,
                                                no_buttons: true
                                            } %}
                                        </div>
                                    {% endfor %}

                               </div>
                            </div>
                                <div class="segmentation-arrows slides-buttonPrev--product-promo slides-buttonPrev--product allProducts">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.475 14.4751C8.3375 14.3376 8.2655 14.1626 8.259 13.9501C8.253 13.7376 8.31875 13.5626 8.45625 13.4251L12.1312 9.7501H3.75C3.5375 9.7501 3.35925 9.6781 3.21525 9.5341C3.07175 9.3906 3 9.2126 3 9.0001C3 8.7876 3.07175 8.60935 3.21525 8.46535C3.35925 8.32185 3.5375 8.2501 3.75 8.2501H12.1312L8.45625 4.5751C8.31875 4.4376 8.253 4.2626 8.259 4.0501C8.2655 3.8376 8.3375 3.6626 8.475 3.5251C8.6125 3.3876 8.7875 3.31885 9 3.31885C9.2125 3.31885 9.3875 3.3876 9.525 3.5251L14.475 8.4751C14.55 8.5376 14.6033 8.6156 14.6348 8.7091C14.6658 8.8031 14.6813 8.9001 14.6813 9.0001C14.6813 9.1001 14.6658 9.19385 14.6348 9.28135C14.6033 9.36885 14.55 9.4501 14.475 9.5251L9.525 14.4751C9.3875 14.6126 9.2125 14.6813 9 14.6813C8.7875 14.6813 8.6125 14.6126 8.475 14.4751Z" fill="black"/>
                                    </svg>

                                </div>

                                <div class="segmentation-arrows slides-buttonNext--product-promo slides-buttonNext--product allProducts">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.475 14.4751C8.3375 14.3376 8.2655 14.1626 8.259 13.9501C8.253 13.7376 8.31875 13.5626 8.45625 13.4251L12.1312 9.7501H3.75C3.5375 9.7501 3.35925 9.6781 3.21525 9.5341C3.07175 9.3906 3 9.2126 3 9.0001C3 8.7876 3.07175 8.60935 3.21525 8.46535C3.35925 8.32185 3.5375 8.2501 3.75 8.2501H12.1312L8.45625 4.5751C8.31875 4.4376 8.253 4.2626 8.259 4.0501C8.2655 3.8376 8.3375 3.6626 8.475 3.5251C8.6125 3.3876 8.7875 3.31885 9 3.31885C9.2125 3.31885 9.3875 3.3876 9.525 3.5251L14.475 8.4751C14.55 8.5376 14.6033 8.6156 14.6348 8.7091C14.6658 8.8031 14.6813 8.9001 14.6813 9.0001C14.6813 9.1001 14.6658 9.19385 14.6348 9.28135C14.6033 9.36885 14.55 9.4501 14.475 9.5251L9.525 14.4751C9.3875 14.6126 9.2125 14.6813 9 14.6813C8.7875 14.6813 8.6125 14.6126 8.475 14.4751Z" fill="black"/>
                                    </svg>
                                </div>
                        </section>
                        {% for item in products %}
                            {% for var in item.variants %}
                                {% set ids = var.id %}
                                {% set samuel = [] %}

                                {% for details in var.Sku %}
                                    {% set samuel = samuel|merge([{
                                        "id": ids,
                                        "segundoArray": {
                                            "value": (samuel[0].segundoArray.value is defined ? samuel[0].segundoArray.value ~ ',' : '') ~ details.value,
                                        }
                                    }]) %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% else %}
                        {% set limitPromoShow = quantity | default(8) %}
                        {% set categoriesPromoShow = categories ? categories|split(';') : "" %}

                        {% if type == 'top_seller' %}
                            {% set filterPromoShow = ['available'] %}
                            {% set orderShow = { 'quantity_sold': 'desc' } %}
                        {% elseif not type %}
                            {% set filterPromoShow = ['available'] %}
                        {% else %}
                            {% set filterPromoShow = [type, 'available'] %}
                        {% endif %}

                        {% if type != 'top_seller' and  rand %}
                            {%set orderPromoShow = 'rand' %}
                        {% else %}
                            {% set orderPromoShow = { 'id': 'desc' } %}
                        {% endif %}

                        {% set products = Products({
                            'categories': categoriesPromoShow,
                            'filter': filterPromoShow,
                            'limit' : limitPromoShow,
                            'order' : orderPromoShow
                        }) %}

                        <section class="section showcase show"  data-slides="productPromo">

                            <div class="showcase-listProduct swiper">
                                <div class="swiper-wrapper">

                                    {% for item in products %}
                                        <div class="listProduct-item swiper-slide">
                                            {% element 'snippets/product' {
                                                product : item,
                                                no_buttons: true
                                            } %}
                                        </div>
                                    {% endfor %}

                               </div>
                            </div>
                                <div class="segmentation-arrows slides-buttonPrev--product-promo slides-buttonPrev--product allProducts">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.475 14.4751C8.3375 14.3376 8.2655 14.1626 8.259 13.9501C8.253 13.7376 8.31875 13.5626 8.45625 13.4251L12.1312 9.7501H3.75C3.5375 9.7501 3.35925 9.6781 3.21525 9.5341C3.07175 9.3906 3 9.2126 3 9.0001C3 8.7876 3.07175 8.60935 3.21525 8.46535C3.35925 8.32185 3.5375 8.2501 3.75 8.2501H12.1312L8.45625 4.5751C8.31875 4.4376 8.253 4.2626 8.259 4.0501C8.2655 3.8376 8.3375 3.6626 8.475 3.5251C8.6125 3.3876 8.7875 3.31885 9 3.31885C9.2125 3.31885 9.3875 3.3876 9.525 3.5251L14.475 8.4751C14.55 8.5376 14.6033 8.6156 14.6348 8.7091C14.6658 8.8031 14.6813 8.9001 14.6813 9.0001C14.6813 9.1001 14.6658 9.19385 14.6348 9.28135C14.6033 9.36885 14.55 9.4501 14.475 9.5251L9.525 14.4751C9.3875 14.6126 9.2125 14.6813 9 14.6813C8.7875 14.6813 8.6125 14.6126 8.475 14.4751Z" fill="black"/>
                                    </svg>

                                </div>

                                <div class="segmentation-arrows slides-buttonNext--product-promo slides-buttonNext--product allProducts">
                                    <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.475 14.4751C8.3375 14.3376 8.2655 14.1626 8.259 13.9501C8.253 13.7376 8.31875 13.5626 8.45625 13.4251L12.1312 9.7501H3.75C3.5375 9.7501 3.35925 9.6781 3.21525 9.5341C3.07175 9.3906 3 9.2126 3 9.0001C3 8.7876 3.07175 8.60935 3.21525 8.46535C3.35925 8.32185 3.5375 8.2501 3.75 8.2501H12.1312L8.45625 4.5751C8.31875 4.4376 8.253 4.2626 8.259 4.0501C8.2655 3.8376 8.3375 3.6626 8.475 3.5251C8.6125 3.3876 8.7875 3.31885 9 3.31885C9.2125 3.31885 9.3875 3.3876 9.525 3.5251L14.475 8.4751C14.55 8.5376 14.6033 8.6156 14.6348 8.7091C14.6658 8.8031 14.6813 8.9001 14.6813 9.0001C14.6813 9.1001 14.6658 9.19385 14.6348 9.28135C14.6033 9.36885 14.55 9.4501 14.475 9.5251L9.525 14.4751C9.3875 14.6126 9.2125 14.6813 9 14.6813C8.7875 14.6813 8.6125 14.6126 8.475 14.4751Z" fill="black"/>
                                    </svg>
                                </div>
                        </section>
                        {% for item in products %}
                            {% for var in item.variants %}
                                {% set ids = var.id %}
                                {% set samuel = [] %}

                                {% for details in var.Sku %}
                                    {% set samuel = samuel|merge([{
                                        "id": ids,
                                        "segundoArray": {
                                            "value": (samuel[0].segundoArray.value is defined ? samuel[0].segundoArray.value ~ ',' : '') ~ details.value,
                                        }
                                    }]) %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endif %}

